body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: purple;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
}

#previous-names-title {
    margin-top: 30px;
}

#previous-names {
    list-style-type: none;
    font-size: 20px;
}